</div>
<div class=""id="footer">
	<div class="container" id="footeritself">
		<p style="font-size:12px;">
		Configtheworld is technology and lifestyle enviroment.<br>
		Project of <a href="http://www.start4ups.com/"><a href="https://ibb.co/FqcD3gb"><img src="https://i.ibb.co/4gCVtPZ/incelogoblack.png" alt="incelogoblack" border="0" height="28px;" width="85px;"></a></a>
	</p>
	</div>
</div>
<link rel="stylesheet" href="/public/css/config.css">


</body>
</html>