<%- include("partials/header") %>


<div class="jumbotron d-flex justify-content-center flex-column">
	<div>
		<img src="https://i.ibb.co/GtPDvmS/Oops-We-can-not-find-the-page.png" alt="Oops-We-can-not-find-the-page" border="0" width="200px;"height="auto;">
	</div>
	
	<a href="/posts"><button class="btn btn-secondary btn-lg">
		Back
		</button></a>
	
</div>
<style>
	body{
		background-color:#E9ECEF;
	}
</style>



<%- include("partials/footer") %>