<%- include("partials/header") %>

    <div class="d-flex p-3 mx-auto flex-column">
  
		
    <h1 class="cover-heading">Learn, Inspire and Create</h1>
    <p class="lead">This is the platform which you can find news, articles and tutorials about technology and lifestyle.</p>
	  <br>
	
		<p>
		  <a href="/register"><button class="btn btn-primary">Sign in</button></a>
		</p>
		<br>
	  <p>
		  if you have an account login <a href="/login"><button class="btn btn-primary btn-sm">here.</button></a>
		</p>
		
 
</div>
<%- include("partials/footer") %>