/* ALL CSS FILES*/


/*HEADER*/
body{
	background-color: #1B1D21;
	color: #FEFEFE;
}
nav{
			margin-bottom:50px;
		}
		.jumbotron{
			background-color:#2F3336;
		}
		.navbar{
			background-color:#2F3336;
		}
		
		.navbar-brand {
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: colours;
	-webkit-animation-timing-function: ease;
}
	@-webkit-keyframes colours {
	  0% {color: #90BEDE;}
	 20% {color: #F97F76;}
	 40% {color: #FFD15C;}
	 60% {color: #6CEF9C;}
	 80% {color: #8580B3;}
	100% {color: #90BEDE;}
} 



/**/
.cikisyok{
	word-wrap    : break-word;
	overflow-wrap: break-word;
}



/**/




/**/






/*FOOTER*/

#footeritself{
		padding-top:30px;
		padding-bottom:0px;
	}
	#footer {
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	padding-bottom:0px;
	padding-top: 225px;
	clear: both;
	position: relative;
}
		